html {
    background: url(./image/mainBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-content {
    padding: 10px !important;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    left: 134%;
    color: #161616;
}

.vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
.vertical-timeline-element-content .vertical-timeline-element-date {
    right: 134%;
}

.as-line {
    display: inline;
}

.lesson__location_icon {
    font-size: 35px;
}

.lesson__number {
    text-align: center;
    margin: 7px auto;
    width: 50px;
    height: 50px;
}

.vertical-timeline-element-content {
    padding: 1em
}

.nav-bar__title {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}